.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	.headerText {
		font-size: 34px;
		font-weight: bold;
	}

	> .each {
		flex: 1;
		overflow: hidden;
	}

	> .tabBar {
		padding-bottom: env(safe-area-inset-bottom);
	}
}
