.container {
	display: flex;
	flex-direction: column;
	padding: 32px 0;
	background: #FFFFFF;

	> .button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 48px 32px;
		height: 88px;
		background: #FF6600;
		border-radius: 44px;
		font-size: 30px;
	}
}
